<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ximbaliapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XimbaliApp">
        <activity
            android:name=".ListEstados"
            android:exported="false" />
        <activity
            android:name=".TipoHieloSeis"
            android:exported="false" />
        <activity
            android:name=".TipoHieloCinco"
            android:exported="false" />
        <activity
            android:name=".TipoHieloCuatro"
            android:exported="false" />
        <activity
            android:name=".TipoHieloTres"
            android:exported="false" />
        <activity
            android:name=".TipoHieloDos"
            android:exported="false" />
        <activity
            android:name=".TipoHielo"
            android:exported="false" />
        <activity
            android:name=".TipoAguaSeis"
            android:exported="false" />
        <activity
            android:name=".TipoAguaCinco"
            android:exported="false" />
        <activity
            android:name=".TipoAguaCuatro"
            android:exported="false" />
        <activity
            android:name=".TipoAguaTres"
            android:exported="false" />
        <activity
            android:name=".TipoAguaDos"
            android:exported="false" />
        <activity
            android:name=".TipoAgua"
            android:exported="false" />
        <activity
            android:name=".TipoElectricoSeis"
            android:exported="false" />
        <activity
            android:name=".TipoElectricoCinco"
            android:exported="false" />
        <activity
            android:name=".TipoElectricoCuatro"
            android:exported="false" />
        <activity
            android:name=".TipoElectricoTres"
            android:exported="false" />
        <activity
            android:name=".TipoElectricoDos"
            android:exported="false" />
        <activity
            android:name=".TipoElectrico"
            android:exported="false" />
        <activity
            android:name=".TipoSiniestroSeis"
            android:exported="false" />
        <activity
            android:name=".TipoSiniestroCinco"
            android:exported="false" />
        <activity
            android:name=".TipoSiniestroCuatro"
            android:exported="false" />
        <activity
            android:name=".TipoSiniestroTres"
            android:exported="false" />
        <activity
            android:name=".TipoSiniestroDos"
            android:exported="false" />
        <activity
            android:name=".TipoSiniestro"
            android:exported="false" />
        <activity
            android:name=".TipoFuegoSeis"
            android:exported="false" />
        <activity
            android:name=".TipoFuegoCinco"
            android:exported="false" />
        <activity
            android:name=".TipoFuegoCuatro"
            android:exported="false" />
        <activity
            android:name=".TipoFuegoTres"
            android:exported="false" />
        <activity
            android:name=".TipoFuegoDos"
            android:exported="false" />
        <activity
            android:name=".TipoFuego"
            android:exported="false" />
        <activity
            android:name=".PokeTipoElectrico"
            android:exported="false" />
        <activity
            android:name=".PokeTipoSiniestro"
            android:exported="false" />
        <activity
            android:name=".PokeTipoHielo"
            android:exported="false" />
        <activity
            android:name=".PokeTipoAgua"
            android:exported="false" />
        <activity
            android:name=".Ver"
            android:exported="false" />
        <activity
            android:name=".PokeTipoFuego"
            android:exported="false" />
        <activity
            android:name=".TipoDragonSeis"
            android:exported="false" />
        <activity
            android:name=".TipoDragonCinco"
            android:exported="false" />
        <activity
            android:name=".TipoDragonCuatro"
            android:exported="false" />
        <activity
            android:name=".TipoDragonTres"
            android:exported="false" />
        <activity
            android:name=".TipoDragonDos"
            android:exported="false" />
        <activity
            android:name=".TipoDragon"
            android:exported="false" />
        <activity
            android:name=".PokeTipoDragon"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>